trigger: 
- main

pool: Oneclick

stages:
  - stage: stage1
    displayName: stage1
    jobs:
      - job: terraformInstallInitValidatePlan
        displayName: terraformInstall-Init-Validate-Plan
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            backendServiceArm: 'oneclickdeployment-SC'
            backendAzureRmStorageAccountName: 'sujitststefile'
            backendAzureRmContainerName: 'terraformstetfile'
            backendAzureRmKey: 'terraformstatefile.key'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            environmentServiceNameAzureRM: 'oneclickdeployment-SC'


  - stage: stage2
    displayName: Code Scanning
    jobs:
      - job: codescanning
        displayName: Code Scanning with tfsec
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            backendServiceArm: 'oneclickdeployment-SC'
            backendAzureRmStorageAccountName: 'sujitststefile'
            backendAzureRmContainerName: 'terraformstetfile'
            backendAzureRmKey: 'terraformstatefile.key'

        - task: tfsec@1
          inputs:
            version: 'v1.26.0'
            dir: '$(System.DefaultWorkingDirectory)'


      - job: 
        displayName: Code Scanning with tflint
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              tflint --init
              tflint
            workingDirectory: '$(System.DefaultWorkingDirectory)'


  # - stage: stage3

  # - stage: stage3


