trigger: none

pool: Oneclick

stages:
  - stage: stage1
    displayName: stage1
    jobs:
      - job: InstallTerraform
        displayName: Install Terraform
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
      - job: Terraforminit
        displayName: Terraform Init
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            backendServiceArm: 'oneclickdeployment-SC'
            backendAzureRmStorageAccountName: 'sujitststefile'
            backendAzureRmContainerName: 'terraformstetfile'
            backendAzureRmKey: 'backup.tfstate'
        







